:root {
    --one:#2196F3; 
    --two:#FFFFFF;  
    --full: #212121;     
    --light: #757575; 
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0, auto;
}
img {
    display: block;
}

a {text-decoration: none;}
a:hover,
a:focus{
    color: var(--one);
}

body {     
    font-family: roboto,  sans-serif;  
      } 

    ul {list-style: none;}
    /*header-section*/    
    .header{                
        text-decoration: none;
        border-bottom: 1px solid #ECECEC; 
        height: 80px;
        display: flex;
            }            
    .header .container {
                display: flex;
            }
    .h-name-blue {        
        color: var(--one); 
        font-family: Raleway;        
        font-weight: 700;
        font-size: 26px;
        line-height: 1,38;
    }
    .h-name-black-d {        
        color:var(--full);
        font-family: Raleway;        
        font-weight: 700;
        font-size: 26px;
        line-height: 1,38;   
        
    }    
    .logo {
        margin-top: 24px;
        margin-bottom: 25px;
        display: flex;
        margin-right: 93px;
    
    }
a.h-name-blue .h-name-black-d {
    display: inline-block;
    margin-top: 24px;
}
    
    /*navigation*/       
    .navigation-list {
        color: var(--full);
        display: flex;
         margin-top: 32px;
         margin-bottom: 32px;
         margin-right: 331px;
           }
    .navigation-list-item {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;          
    }
    .navigation-list-item{
        margin-right: 50px;
    }
    

    
    .active{
        color: var(--one);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        
    }
    .contacts-list {
        display: flex;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 307px;
        justify-content: space-between;
    }            
   
    .contacts {
        color: var(--light);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;                
    }         

    
    
    /*Effective-solutions-section*/
    .hero-section {
        background-color:#2F303A;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        
    }
    .hero-title{
        font-weight: 900;        
        font-size: 44px;
        line-height: 1.36;        
        color:var(--two) ;    
        letter-spacing: 6%;
        text-transform: uppercase;            
    }
    .hero-button{
        font-family: inherit;
        color: var(--two);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        background-color: var(--one);   
        border-radius: 4px; 
        border-color: var(--one);       
    }
    .hero-button:hover, 
    .hero-button:focus {
        color: #000;
        background-color: #FFFFFF;
    }
   
    
    
    /*what-we-do-section*/
     .what-we-do-section{

     }
     .section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
     }
    .features-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        text-transform: uppercase;
    }
    .features-desc{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: var(--light);
    }
    

/*our-team-section*/
.our-team-section{

}
.member-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--full);
}
.member-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--light);
}


/*portfolio-section-buttons*/

.portfolio-what-we-do-section {

}
.button{
    font-family: inherit;
    color: var(--full);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;      
}
.button:hover,
.button:focus{
        color: var(--two);
        background-color:var(--one);
    }
   
/*portfolio-section*/

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}
.portfolio-desc {
    color: #757575;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/*footer-section*/
footer{ background-color:#2F303A ;}

.logo-blue{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--one);
    
}
.logo-w {
    color: var(--two);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    
}
.footer-adr{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--two);    
}
.footer-adr:focus,
.footer-adr:hover {
    color: var(--one);
}
.footer-contacts{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);    
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--one);    
}
