:root {
    --one:#2196F3; 
    --two:#FFFFFF;  
    --full: #212121;     
    --light: #757575; 
}

p, 
h1,
h2, 
h3,
h4, 
h5, 
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

a {text-decoration: none;}
a:hover,
a:focus{
    color: var(--one);
}

body {     
    font-family: roboto,  sans-serif;  
      } 

.container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;     
        margin-right: auto;       
        }

   
    /*header-section*/    
    .header{                
        text-decoration: none;
        border-bottom: 1px solid #ECECEC; 
        height: 80px;
        display: flex;
            }            
    .header .container {
                display: flex;
            }
    .h-name-blue {        
        color: var(--one); 
        font-family: Raleway;        
        font-weight: 700;
        font-size: 26px;
        line-height: 1,38;
    }
    .h-name-black-d {        
        color:var(--full);
        font-family: Raleway;        
        font-weight: 700;
        font-size: 26px;
        line-height: 1,38;   
        
    }    
    .logo {
    
        margin-top: 24px;
        margin-bottom: 25px;
        display: flex;
        margin-right: 93px;    
    }

    
    /*navigation*/       
    .navigation-list {
        color: var(--full);
        display: flex;
         margin-top: 32px;
         margin-bottom: 32px;
         margin-right: 281px;
           }
    .navigation-list-item {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;          
    }
    .navigation-list-item{
        margin-right: 50px;
    }
    

    
    .active{
        color: var(--one);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        
    }
    .contacts-list {
        display: flex;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 307px;
        justify-content: space-between;
    }            
   
    .contacts {
        color: var(--light);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;                
    }         

    
    
    /*Effective-solutions-section*/
    .hero-section {
        background-color:#2F303A;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        
    }
    .hero-title{
        font-weight: 900;        
        font-size: 44px;
        line-height: 1.36;        
        color:var(--two) ;    
        letter-spacing: 6%;
        text-transform: uppercase;            
    }
    .hero-button{
        font-family: inherit;
        color: var(--two);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        background-color: var(--one);   
        border-radius: 4px; 
        border-color: var(--one); 
        width: 200px;
        height: 50px;
        margin-top: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    .hero-button:hover, 
    .hero-button:focus {
        color: #000;
        background-color: #FFFFFF;
    }    
    
    /*what-we-do-section*/

    .features {
        display: flex;
        justify-content: space-between;
        padding: 64px 0px 94px 0px;        
        margin-left: -30px;
            }     
    .features-contsiner{
       flex-basis:calc(100%/4);
        height: 96px;   
        margin-top: 30px;
        margin-left: 30px;
          }
          .features-title{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.17;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .features-desc{
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            color: var(--light);
          
        }

   .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
       text-align: center;
       padding-bottom: 50px;
   }       
   .photo-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 94px 0px;        
    margin-left: -30px;
   }
   .photo {
    flex-basis:calc(100%/3);    
    margin-left: 30px;
   }


/*our-team-section*/
.our-team-section{

}
.team-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}

.team-list-item {
    display: block;
    text-align: center;
    box-shadow:  0px 2px  1px rgba(0, 0, 0, 0.2);
    
    border-bottom-right-radius: 4px; 
    border-bottom-left-radius: 4px;

    
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--full);
    margin: 30px auto 10px auto;
 
}
.team-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--light);
    margin-bottom: 30px;
}


/*portfolio-section-buttons*/

.portfolio-what-we-do-section {
padding-top: 94px;
padding-bottom: 50px;

}
.button-list{
    display: flex;
    justify-content: center;  
}
.button:not(:last-child){
    margin-right: 8px;
}

.button{
    font-family: inherit;
    color: var(--full);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;     
    background-color: #F5F4FA; 
    border-radius: 4px; 
    border: 0px;    
    margin-right: 8px;
}

.button:hover,
.button:focus{
        color: var(--two);
        background-color:var(--one); 
        box-shadow:0px 2px 2px rgba(0, 0, 0, 0.12);       
    }
   
/*portfolio-section*/
.portfolio-section{
    display: flex;
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}
.portfolio-desc {
    color: #757575;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/*footer-section*/
footer{
     background-color:#2F303A ;
     padding-top: 60px;
     padding-bottom: 51px;
     padding-left: 215px;
     padding-right: auto;
    }
.footer-logo {
    display: flex;
    margin-bottom: 20px;
}
.logo-blue{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--one);
    
}
.logo-w {
    color: var(--two);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    
}
.footer-adr{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--two);    
    display: flex;
    margin-bottom: 9px;
}
.footer-adr:focus,
.footer-adr:hover {
    color: var(--one);
}
.footer-contacts{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);  
    display: flex;  
    margin-bottom: 9px;

}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--one);    
}
